<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Consulta</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="text-align: center; padding-top: 20px;">
        <img src="https://marquei.com.br/assets/logo-DQRPmHhg.webp" alt="Logomarca Marquei"
            style="max-width: 200px;">
    </div>

    <h1 style="text-align: center; color: #333;">Confirmação de Consulta</h1>
    <h4 style="text-align: center; color: #333;">Olá {{ clienteNome }},</h4>
    <p style="text-align: center; color: #666; padding: 0 20px;">
        Você tem uma consulta agendada com {{ professionalNome }} para amanhã às {{ horarioConsulta }}. Gostaríamos de
        confirmar sua presença.
    </p>
    <div style="text-align: center; padding: 20px;">
        <a href="{{ linkParaConfirmacao }}"
            style="display: inline-block; background-color: #28a745; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Confirmar
            Consulta?</a>
    </div>
    <p style="text-align: center; color: #666; padding: 0 20px;">Caso não possa comparecer, por favor, entre em contato
        conosco para reagendar sua consulta.</p>
    <div style="margin-top: 30px; margin-left: 20px; text-align: start;">
        <p style="color: #666; font-size: 14px;"><strong>Atenciosamente,</strong><br>Equipe Marquei<br><br><a href="https://marquei.com.br">marquei.com.br</a></p>
    </div>
</body>

</html>
