<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Satisfação</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="text-align: center; padding-top: 20px;">
        <img src="https://marquei.com.br/assets/logo-DQRPmHhg.webp" alt="Logomarca Marquei" style="max-width: 200px;">
    </div>

    <h1 style="text-align: center; color: #333;">Pesquisa de Satisfação</h1>
    <h4 style="text-align: center; color: #333;">Olá {{ clienteNome }},</h4>
    <p style="text-align: center; color: #666; padding: 0 20px;">Sua opinião é muito importante para nós! Convidamos você a participar de nossa pesquisa de satisfação e nos contar sobre sua experiência recente.</p>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="https://marquei.com.br/#/pesquisa-satisfacao/{{ company_id }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Clique aqui para participar</a>
    </div>
    <p style="text-align: center; color: #666; padding: 0 20px;">Sua participação é voluntária, e as informações coletadas serão utilizadas para melhorar nossos serviços.</p>
    <div style="margin-top: 30px; margin-left: 20px; text-align: start;">
        <p style="color: #666; font-size: 14px;"><strong>Atenciosamente,</strong><br>Equipe Marquei<br>Telefone: +55 (11) 5194-6100<br><a href="https://marquei.com.br">marquei.com.br</a></p>
    </div>
</body>
</html>
