<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="text-align: center; padding-top: 20px;">
        <img src="https://marquei.com.br/assets/logo-DQRPmHhg.webp" alt="Logomarca Marquei" style="max-width: 200px;">
    </div>

    <h1 style="text-align: center; color: #333;">Redefinição de Senha</h1>
    <h4 style="text-align: center; color: #333;">Olá {{ companyName }},</h4>
    <p style="text-align: center; color: #666; padding: 0 20px;">Você solicitou a redefinição de senha para sua conta no Marquei. Para configurar uma nova senha, por favor, clique no seguinte link:</p>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="{{ resetUrl }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Clique aqui para redefinir sua senha</a>
    </div>
    <p style="text-align: center; color: #666; padding: 0 20px;">Se você não solicitou esta redefinição, ignore este e-mail ou entre em contato conosco se acredita que isso foi um erro.</p>
    <div style="margin-top: 30px; margin-left: 20px; text-align: start;">
        <p style="color: #666; font-size: 14px;"><strong>Atenciosamente,</strong><br>Equipe de Suporte Marquei<br>Telefone: +55 (11) 5194-6100<br><a href="https://marquei.com.br">marquei.com.br</a></p>
    </div>
</body>
</html>
