<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="text-align: center; padding-top: 20px;">
        <img src="https://marquei.com.br/static/media/logo.e29260f5cd2fe08c3029.png" alt="Logomarca Marquei" style="max-width: 200px;">
    </div>

    <h1 style="text-align: center; color: #333;">Redefinição de Senha</h1>
    <h4 style="text-align: center; color: #333;">Olá...</h4>
    <p style="text-align: center; color: #666; padding: 0 20px;">Recebemos uma solicitação para redefinir a senha da sua conta Marquei. Para concluir o processo, clique no link abaixo:</p>
    <div style="text-align: center; padding-bottom: 20px;">
        <a href="{{ resetUrl }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Redefinir Senha</a>
    </div>
    <p style="text-align: center; color: #666; padding: 0 20px;">Para garantir a segurança da sua conta, gostaríamos de salientar que nunca solicitaremos informações pessoais ou senhas por e-mail. Por favor, tenha em mente as seguintes diretrizes:</p>
    <ul style="color: #666; text-align: left; margin-left: 20px;">
        <li>Nunca compartilhe sua senha com ninguém.</li>
        <li>Nunca clique em links suspeitos ou forneça informações confidenciais em resposta a e-mails não solicitados.</li>
        <li>Sempre verifique a autenticidade de e-mails antes de fornecer informações pessoais ou seguir os links fornecidos.</li>
    </ul>
    <p style="text-align: center; color: #666; padding: 0 20px;">Se você não solicitou essa redefinição de senha ou se suspeita de atividade não autorizada em sua conta, entre em contato conosco imediatamente para que possamos investigar.</p>
    <div style="margin-top: 30px; margin-left: 20px; text-align: start;">
        <p style="color: #666; font-size: 14px;"><strong>Atenciosamente,</strong><br>Segurança Corporativa<br>Holanda Desenvolviemnto de Software<br> Av. Paulista 1106, São Paulo - SP - SL01 Andar 16, 01310-914
            <br>Telefone: +55 (11) 5194-6100<br><a href="https://marquei.com.br">marquei.com.br</a></p>
    </div>
</body>

</html>
