<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas-vindas!</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="text-align: center; padding-top: 20px;">
        <img src="https://marquei.com.br/static/media/logo.e29260f5cd2fe08c3029.png" alt="Logomarca Marquei"
            style="max-width: 200px;">
    </div>

    <h2 style="text-align: center; color: #333;">Bem-vindo(a) ao Marquei!</h2>
    <p style="text-align: center; color: #666; padding: 0 20px;">Bem-vindo(a) ao melhor gestor de agenda online, o Marquei! Estamos muito
        felizes por ter você conosco. A partir de agora se inicia o seu
        período de teste e você poderá desfrutar de todas as funcionalidades incríveis que
        nossa plataforma oferece.</p>
    <p style="text-align: center; color: #666; padding: 0 20px;">Se precisar de alguma assistência ou tiver alguma
        dúvida, não hesite em nos contatar. Estamos aqui para ajudar!</p>

    <!-- Assinatura -->
    <div style="margin-top: 30px; margin-left: 20px; text-align: start;">
        <p style="color: #666; font-size: 14px;"><strong>Atenciosamente,</strong><br>Bruno Holanda - CEO<br>Holanda
            Desenvolviemnto de Software<br> Av. Paulista 1106, São Paulo - SP - SL01 Andar 16, 01310-914
            <br>Telefone: +55 (11) 5194-6100<br><a href="https://marquei.com.br">marquei.com.br</a>
        </p>
    </div>
</body>

</html>
