<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas-vindas!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #666;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        a {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
            <img src="https://marquei.com.br/static/media/logo.e29260f5cd2fe08c3029.png" alt="Logomarca Marquei" style="max-width: 200px; margin-top: 20px;">
        </div>
        <h2 style="text-align: center; color: #333;">Bem-vindo(a) ao Marquei!</h2>
        <p>Estamos muito felizes por ter você conosco. O Marquei é o seu novo gestor de agenda online, projetado para simplificar a forma como você organiza seu dia a dia. Durante seu período de teste, você terá acesso completo a todas as nossas funcionalidades incríveis.</p>
        <p>Se tiver dúvidas ou precisar de assistência, estamos à disposição. Entre em contato conosco a qualquer momento para obter suporte.</p>
        <div style="text-align: center; margin-top: 20px;">
            <a href="https://marquei.com.br" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Comece a Explorar</a>
        </div>
        <footer style="margin-top: 30px; text-align: start;">
            <p><strong>Atenciosamente,</strong><br>Bruno Holanda - CEO<br>Holanda Desenvolvimento de Software<br>Av. Paulista 1106, São Paulo - SP - SL01 Andar 16, 01310-914<br>Telefone: +55 (11) 5194-6100<br><a href="https://marquei.com.br">marquei.com.br</a></p>
        </footer>
    </div>
</body>
</html>
